<div class="panel panel-primary">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <table class="table table-hover">
          <thead>
            <tr>
              <th>Email</th>
              <th>Register At</th>
              <th>Total Friends</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.created_at.to_formatted_s(:long_ordinal) %></td>
                <td><%= user.friends.count %></td>
                <td>
                  <% if user.is_friend(current_user.id) == nil %>
                    <%= link_to "Add Friend", friendships_path(:friend_id => user),
                      method: "post",
                      class: "btn btn-info btn-sm" %>
                  <% else %>
                    <%= link_to "Remvove Friend", 'friendships/' + user.is_friend(current_user.id).id.to_s,
                      method: "delete",
                      class: "btn btn-danger btn-sm" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
