<div class="panel panel-primary">
  <div class="panel-heading">Sign Up with GauCHAT</div>
  <div class="panel-body">

    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <h4>Error: Invalid data. Check your inputs.</h4>
        <ul>
          <% @user.errors.full_messages.each do |thing| %>
            <li><%= thing %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @user, :url => signup_path, :method => "post" do |f| %>
      <div class="form-group">
        <label for="user_name">Name</label>
        <%= f.text_field :name, placeholder: "Name", class: "form-control", id: "user_name" %>
      </div>

      <div class="form-group">
        <label for="user_email">Email address</label>
        <%= f.email_field :email, placeholder: "Email", class: "form-control", id: "user_email" %>
      </div>
      <div class="form-group">
        <label for="user_password">Password</label>
        <%= f.password_field :password, placeholder: "Password", class: "form-control", id: "user_password" %>
      </div>

      <div class="form-group">
        <label for="user_password_confirmation">Password Confirmation</label>
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation",
              class: "form-control", id: "user_password_confirmation" %>
      </div>

      <div class="form-group form-actions text-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    <% end %>

  </div>
</div>
