<!DOCTYPE html>
<html>
  <head>
    <title>Gauchat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-embossed navbar-sitemenu" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <%= link_to 'GauCHAT', root_path, class: 'navbar-brand'  %>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-03">

          <ul class="nav navbar-nav">
            <% if !current_user %>
              <li class="<%= current_page?(login_path) ? 'active' : '' %>">
                <%= link_to 'Login', 'login'  %>
              </li>
              <li class="<%= current_page?(signup_path) ? 'active' : '' %>">
                <%= link_to 'Sign Up', 'signup'  %>
              </li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                  <%= current_user.email %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'My Inbox', 'inbox' %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Logout', 'logout', method: 'delete' %></li>
                </ul>
              </li>
            <% end %>
           </ul>

        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>

  </body>
</html>
